/**
 * SSAS - Simple Smart Automotive Software
 * Copyright (C) 2021-{{ now.year }} Parai Wang <parai@foxmail.com>
 *
 * Generated at {{ now.strftime("%c") }}
 */

#ifndef SOMEIP_{{ toMacro(service_name) }}_SKELETON_H
#define SOMEIP_{{ toMacro(service_name) }}_SKELETON_H
/* ================================ [ INCLUDES  ] ============================================== */
#include "SomeIpXf_Cfg.h"
#include "SomeIp.h"
#include "Sd.h"
#ifdef __cplusplus
extern "C" {
#endif
/* ================================ [ MACROS    ] ============================================== */
/* ================================ [ TYPES     ] ============================================== */
/* ================================ [ DECLARES  ] ============================================== */
/* ================================ [ DATAS     ] ============================================== */
/* ================================ [ LOCALS    ] ============================================== */
/* ================================ [ FUNCTIONS ] ============================================== */
boolean Sd_ServerService{{ service_name }}_CRMC(PduIdType pduID, uint8_t type, uint16_t serviceID,
                                 uint16_t instanceID, uint8_t majorVersion, uint32_t minorVersion,
                                 const Sd_ConfigOptionStringType *receivedConfigOptionPtrArray,
                                 const Sd_ConfigOptionStringType *configuredConfigOptionPtrArray);

Std_ReturnType {{ service_name }}_OfferService(void);
Std_ReturnType {{ service_name }}_StopOfferService(void);

{% for eg in service.get('event-groups', []) %}
{% for event in eg['events'] %}
{% if 'for' not in event %}
Std_ReturnType {{ service_name }}_Send{{ event['name'] }}({{ GetArgTypeC(event, allStructs) }} sample);
void {{ service_name }}_On{{ event['name'] }}Subscribed(boolean isSubscribe, TcpIp_SockAddrType *RemoteAddr);
{% endif %}
{% endfor %}
{% endfor %}

{% for method in service.get('methods', []) %}
{% if 'for' not in method %}
{% set ReturnType = method.get('return', 'void') %}
{% set Args = [] %}
{% set ArgsR = [] %}
{% if 'args' in method %}
{% set args = GetArgs(cfg, method['args']) %}
{% for arg in args %}
{% set _ = Args.append('const ' ~ GetArgTypeC(arg, allStructs) ~ ' ' ~ arg['name']) %}
{% endfor %}
{% endif %}
{% if ReturnType != 'void' %}
{% set _ = ArgsR.append(GetArgTypeC(ReturnType, allStructs) ~ ' return' ~ ReturnType) %}
{% endif %}
Std_ReturnType {{ service_name }}_{{ method['name'] }}({{ Args | join(', ') }}{% if Args and ArgsR %}, {% endif %}{{ ArgsR | join(', ') }});
Std_ReturnType {{ service_name }}_{{ method['name'] }}_Async({{ ArgsR | join(', ') }});
{% endif %}
{% endfor %}

{% for field in service.get('fields', []) %}
{% if 'event' in field %}
Std_ReturnType {{ service_name }}_Update{{ field['name'] }}({{ GetArgTypeC(field, allStructs) }} field);
void {{ service_name }}_On{{ field['name'] }}Subscribed(boolean isSubscribe, TcpIp_SockAddrType *RemoteAddr);
{% endif %}
{% if 'get' in field %}
Std_ReturnType {{ service_name }}_Get{{ field['name'] }}({{ GetXfCType(field, allStructs) }} *field);
Std_ReturnType {{ service_name }}_Get{{ field['name'] }}_Async({{ GetXfCType(field, allStructs) }} *field);
{% endif %}
{% if 'set' in field %}
Std_ReturnType {{ service_name }}_Set{{ field['name'] }}({{ GetXfCType(field, allStructs) }} *field);
Std_ReturnType {{ service_name }}_Set{{ field['name'] }}_Async({{ GetXfCType(field, allStructs) }} *field);
{% endif %}

{% endfor %}

void SomeIp_{{ service_name }}_OnConnect(uint16_t conId, boolean isConnected);

{% for method in service.get('methods', []) %}
Std_ReturnType SomeIp_{{ service_name }}_{{ method['name'] }}_OnRequest(uint32_t requestId, SomeIp_MessageType* req, SomeIp_MessageType* res);
Std_ReturnType SomeIp_{{ service_name }}_{{ method['name'] }}_OnFireForgot(uint32_t requestId, SomeIp_MessageType* res);
Std_ReturnType SomeIp_{{ service_name }}_{{ method['name'] }}_OnAsyncRequest(uint32_t requestId, SomeIp_MessageType* res);
{% if method.get('tp', false) %}
Std_ReturnType SomeIp_{{ service_name }}_{{ method['name'] }}_OnTpCopyRxData(uint32_t requestId, SomeIp_TpMessageType *msg);
Std_ReturnType SomeIp_{{ service_name }}_{{ method['name'] }}_OnTpCopyTxData(uint32_t requestId, SomeIp_TpMessageType *msg);
{% endif %}
{% endfor %}

{% for field in service.get('fields', []) %}
{% if 'get' in field %}
Std_ReturnType SomeIp_{{ service_name }}_Get{{ field['name'] }}_OnRequest(uint32_t requestId, SomeIp_MessageType* req, SomeIp_MessageType* res);
Std_ReturnType SomeIp_{{ service_name }}_Get{{ field['name'] }}_OnFireForgot(uint32_t requestId, SomeIp_MessageType* res);
Std_ReturnType SomeIp_{{ service_name }}_Get{{ field['name'] }}_OnAsyncRequest(uint32_t requestId, SomeIp_MessageType* res);
{% if field.get('tp', false) %}
Std_ReturnType SomeIp_{{ service_name }}_Get{{ field['name'] }}_OnTpCopyRxData(uint32_t requestId, SomeIp_TpMessageType *msg);
Std_ReturnType SomeIp_{{ service_name }}_Get{{ field['name'] }}_OnTpCopyTxData(uint32_t requestId, SomeIp_TpMessageType *msg);
{% endif %}
{% endif %}

{% if 'set' in field %}
Std_ReturnType SomeIp_{{ service_name }}_Set{{ field['name'] }}_OnRequest(uint32_t requestId, SomeIp_MessageType* req, SomeIp_MessageType* res);
Std_ReturnType SomeIp_{{ service_name }}_Set{{ field['name'] }}_OnFireForgot(uint32_t requestId, SomeIp_MessageType* res);
Std_ReturnType SomeIp_{{ service_name }}_Set{{ field['name'] }}_OnAsyncRequest(uint32_t requestId, SomeIp_MessageType* res);
{% if field.get('tp', false) %}
Std_ReturnType SomeIp_{{ service_name }}_Set{{ field['name'] }}_OnTpCopyRxData(uint32_t requestId, SomeIp_TpMessageType *msg);
Std_ReturnType SomeIp_{{ service_name }}_Set{{ field['name'] }}_OnTpCopyTxData(uint32_t requestId, SomeIp_TpMessageType *msg);
{% endif %}
{% endif %}
{% endfor %}

{% for egroup in service.get('event-groups', []) %}
void SomeIp_{{ service_name }}_{{ egroup['name'] }}_OnSubscribe(boolean isSubscribe, TcpIp_SockAddrType* RemoteAddr);
{% for event in egroup['events'] %}
{% if event.get('tp', false) %}
Std_ReturnType SomeIp_{{ service_name }}_{{ egroup['name'] }}_{{ event['name'] }}_OnTpCopyTxData(uint32_t requestId, SomeIp_TpMessageType *msg);
{% endif %}
{% endfor %}
{% endfor %}
#ifdef __cplusplus
}
#endif
#endif /* SOMEIP_{{ toMacro(service_name) }}_SKELETON_H */
