/**
 * SSAS - Simple Smart Automotive Software
 * Copyright (C) 2021-{{ now.year }} Parai Wang <parai@foxmail.com>
 *
 * Generated at {{ now.strftime("%c") }}
 */

#ifndef ARA_SOMEIP_{{ service_name | toMacro }}_SKELETON_HPP
#define ARA_SOMEIP_{{ service_name | toMacro }}_SKELETON_HPP
/* ================================ [ INCLUDES  ] ============================================== */
#include "ara/com/skeleton/skeleton_base.h"
#include "SomeIpXf_Cfg.h"
#include "SomeIp.h"
namespace ara {
namespace com {
namespace {{ service_name }} {
using namespace ara::com;
using namespace ara::core;
/* ================================ [ MACROS    ] ============================================== */
/* ================================ [ TYPES     ] ============================================== */
{% for struct in cfg.get('structs', []) %}
using {{ struct['name'] }} = {{ struct['name'] }}_Type;
{% endfor %}
/* ================================ [ CLASS     ] ============================================== */
namespace events {
{% for eg in service.get('event-groups', []) %}
{% for event in eg['events'] %}
{% if 'for' not in event %}
class {{ event['name'] }} {
public:
  using SampleType = {{ event | getXfCType(allStructs) }};

  ara::core::Result<void> Send(const SampleType &data);

  ara::core::Result<ara::com::SampleAllocateePtr<SampleType>> Allocate();

  ara::core::Result<void> Send(ara::com::SampleAllocateePtr<SampleType> data);

  ara::com::SubscriptionState GetSubscriptionState () const noexcept;

public:
  /* stack internal use only public APIs */
{% if event.get('tp', false) %}
  Std_ReturnType OnTpCopyTxData(uint32_t requestId, SomeIp_TpMessageType *msg);
{% endif %}

private:
  uint8_t m_payload[20 + {{ event | getTypePayloadSize(allStructs) }}];
{% if event.get('tp', false) %}
  bool m_payloadInUse = false;
{% endif %}
};

{% endif %}
{% endfor %}
{% endfor %}
} // namespace events

namespace fields {
{% for field in service.get('fields', []) %}
class {{ field['name'] }} {
public:
  using FieldType = {{ field | getXfCType(allStructs) }};

{% if 'event' in field or 'get' in field %}
  ara::core::Result<void> Update(const FieldType& data);
{% endif %}

{% if 'get' in field %}
  ara::core::Result<void> RegisterGetHandler(std::function<ara::core::Future<FieldType>()> getHandler);
{% endif %}

{% if 'set' in field %}
  ara::core::Result<void> RegisterSetHandler(std::function<ara::core::Future<FieldType>(const FieldType& data)> setHandler);
{% endif %}

public:
  /* stack internal use only public APIs */
  ara::com::ComErrc Validate();
{% if 'get' in field %}
  Std_ReturnType OnGetRequest(uint32_t requestId, SomeIp_MessageType* req, SomeIp_MessageType* res);
  Std_ReturnType OnGetAsyncRequest(uint32_t requestId, SomeIp_MessageType* res);
{% endif %}
{% if 'get' in field and field.get('tp', false) %}
  Std_ReturnType OnGetTpCopyTxData(uint32_t requestId, SomeIp_TpMessageType *msg);
{% endif %}

{% if 'set' in field %}
  Std_ReturnType OnSetRequest(uint32_t requestId, SomeIp_MessageType* req, SomeIp_MessageType* res);
  Std_ReturnType OnSetAsyncRequest(uint32_t requestId, SomeIp_MessageType* res);
{% endif %}
{% if 'set' in field and field.get('tp', false) %}
  Std_ReturnType OnSetTpCopyRxData(uint32_t requestId, SomeIp_TpMessageType *msg);
  Std_ReturnType OnSetTpCopyTxData(uint32_t requestId, SomeIp_TpMessageType *msg);
{% endif %}
{% if 'event' in field and field.get('tp', false) %}
  Std_ReturnType OnEventTpCopyTxData(uint32_t requestId, SomeIp_TpMessageType *msg);
{% endif %}

private:
{% if 'get' in field %}
  std::function<ara::core::Future<FieldType>()> m_getHandler = nullptr;
  ara::core::Future<FieldType> m_futureGet;
  FieldType m_fieldGet;
{% if field.get('tp', false) %}
  uint8_t m_responseGet[20 + {{ field | getTypePayloadSize(allStructs) }}];
{% endif %}
  bool m_responseGetInUse = false;
{% endif %}
  bool m_bValid = false;

{% if 'set' in field %}
  std::function<ara::core::Future<FieldType>(const FieldType& data)> m_setHandler = nullptr;
  ara::core::Future<FieldType> m_futureSet;
  FieldType m_fieldSet;
{% if field.get('tp', false) %}
  uint8_t m_requestSet[{{ field | getTypePayloadSize(allStructs) }}];
  uint8_t m_responseSet[20 + {{ field | getTypePayloadSize(allStructs) }}];
{% endif %}
  bool m_responseSetInUse = false;
{% endif %}

{% if 'event' in field %}
  uint8_t m_payload[20 + {{ field | getTypePayloadSize(allStructs) }}];
  bool m_payloadInUse = false;
{% endif %}
};

{% endfor %}
} // namespace fields

class {{ service_name }}Skeleton {
public:
{% for method in service.get('methods', []) %}
{% if 'for' not in method %}
{% for utype in method._used_types %}
  using {{ utype }} = {{ utype | getXfCType(allStructs) }};
{% endfor %}
{% endif %}
{% endfor %}
  {{ service_name }}Skeleton(
    const ara::com::InstanceIdentifier &instanceId,
    ara::com::MethodCallProcessingMode mode = ara::com::MethodCallProcessingMode::kEvent);

  static ara::core::Result<{{ service_name }}Skeleton> Create(
    const ara::com::InstanceIdentifier &instanceID,
    ara::com::MethodCallProcessingMode mode = ara::com::MethodCallProcessingMode::kEvent) noexcept;

  {{ service_name }}Skeleton(
    ara::com::InstanceIdentifierContainer instanceIds,
    ara::com::MethodCallProcessingMode mode = ara::com::MethodCallProcessingMode::kEvent);

  static ara::core::Result<{{ service_name }}Skeleton> Create(
    const ara::com::InstanceIdentifierContainer &instanceIDs,
    ara::com::MethodCallProcessingMode mode = ara::com::MethodCallProcessingMode::kEvent) noexcept;

  {{ service_name }}Skeleton(
    ara::core::InstanceSpecifier instanceSpec,
    ara::com::MethodCallProcessingMode mode = ara::com::MethodCallProcessingMode::kEvent);

  static ara::core::Result<{{ service_name }}Skeleton> Create(
    const ara::core::InstanceSpecifier &instanceSpec,
    ara::com::MethodCallProcessingMode mode = ara::com::MethodCallProcessingMode::kEvent) noexcept;

  {{ service_name }}Skeleton(const {{ service_name }}Skeleton &other) = delete;

  {{ service_name }}Skeleton &operator=(const {{ service_name }}Skeleton &other) = delete;

  ~{{ service_name }}Skeleton();

  ara::core::Result<void> OfferService();

  void StopOfferService();

  bool ProcessNextMethodCall();

public:
{% for eg in service.get('event-groups', []) %}
{% for event in eg['events'] %}
{% if 'for' not in event %}
  events::{{ event['name'] }} {{ event['name'] }};
{% endif %}
{% endfor %}
{% endfor %}

{% for method in service.get('methods', []) %}
{% if 'for' not in method %}
{% set UsedTypes = [] %}
{% set ReturnType = method.get('return', 'void') %}
{% if ReturnType != 'void' %}
{% set _ = UsedTypes.append(ReturnType) %}
{% endif %}
{% if 'args' in method %}
{% set args = GetArgs(cfg, method['args']) %}
{% for arg in args %}
{% if arg['type'] not in UsedTypes %}
{% set _ = UsedTypes.append(arg['type']) %}
{% endif %}
{% endfor %}
{% endif %}
{% for utype in UsedTypes %}
  using {{ utype }} = {{ utype | getXfCType(allStructs) }};
{% endfor %}
{% endif %}
{% endfor %}

{% for method in service.get('methods', []) %}
{% if 'for' not in method %}
{% set args_list = [] %}
{% if 'args' in method %}
{% set args = GetArgs(cfg, method['args']) %}
{% for arg in args %}
{% set _ = args_list.append('const ' ~ arg['type'] ~ ' &' ~ arg['name']) %}
{% endfor %}
{% endif %}
{% set args_str = args_list | join(', ') %}
  virtual ara::core::Future<{{ method.get('return', 'void') }}> {{ method['name'] }}({{ args_str }}) = 0;
{% endif %}
{% endfor %}

{% for field in service.get('fields', []) %}
  fields::{{ field['name'] }} {{ field['name'] }};
{% endfor %}

  void OnConnect(uint16_t conId, boolean isConnected);

private:
  void ThreadRxCtrl(uint16_t conId);
private:
  ara::com::MethodCallProcessingMode m_mode;
  bool m_stop[{{ service.get('listen', 1) }}] = {{ '{' }}false{{ '}' }};
  std::thread m_thRxCtrl[{{ service.get('listen', 1) }}];
  uint8_t m_rxBuf[{{ service.get('listen', 1) }}][{{ MaxPayloadSize }}+32];
  SomeIp_CtrlRxBufferType m_ctrlRxBuf[{{ service.get('listen', 1) }}];
};
/* ================================ [ DECLARES  ] ============================================== */
/* ================================ [ DATAS     ] ============================================== */
/* ================================ [ LOCALS    ] ============================================== */
/* ================================ [ FUNCTIONS ] ============================================== */
} // namespace {{ service_name }}
} // namespace com
} // namespace ara
#endif /* ARA_SOMEIP_{{ service_name | toMacro }}_SKELETON_HPP */
