/**
 * SSAS - Simple Smart Automotive Software
 * Copyright (C) 2021-{{ now.year }} Parai Wang <parai@foxmail.com>
 *
 * Generated at {{ now.strftime("%c") }}
 */

/* ================================ [ INCLUDES  ] ============================================== */
#include "{{ service_name }}SkeletonV.hpp"

#include "Std_Debug.h"

namespace ara {
namespace com {
namespace {{ service_name }} {
/* ================================ [ MACROS    ] ============================================== */
#define AS_LOG_{{ service_name | toMacro }} 0
#define AS_LOG_{{ service_name | toMacro }}_E 2
/* ================================ [ TYPES     ] ============================================== */
/* ================================ [ CLASS     ] ============================================== */
/* ================================ [ DECLARES  ] ============================================== */
/* ================================ [ DATAS     ] ============================================== */
/* ================================ [ LOCALS    ] ============================================== */
/* ================================ [ FUNCTIONS ] ============================================== */
namespace events {
{% for eg in service.get('event-groups', []) %}
{% for event in eg['events'] %}
{% if 'for' not in event %}
Result<void> {{ event['name'] }}::Send(const {{ event['name'] }}::SampleType &data) {
  Result<void> rslt;

  int32_t serializedSize = 
    {{ event | SomeIpXfEncode(allStructs, '&m_payload[20]', 'sizeof(m_payload) - 20', 'data') }};
  if (serializedSize > 0) {
    auto rtm = vsomeip::runtime::get();
    auto request = rtm->create_request();
    request->set_service({{ service['service'] }});
    request->set_instance({{ service['instance'] }});
    request->set_method({{ event['eventId'] }});
    request->set_message_type(vsomeip::message_type_e::MT_NOTIFICATION);
    
    auto payload = rtm->create_payload();
    payload->set_data(&m_payload[20], serializedSize);
    request->set_payload(payload);
    
    m_app->notify({{ service['service'] }}, {{ service['instance'] }}, {{ event['eventId'] }}, payload);
  } else {
    rslt = Result<void>(-EINVAL);
  }

  return rslt;
}

Result<SampleAllocateePtr<{{ event['name'] }}::SampleType>> {{ event['name'] }}::Allocate() {
  Result<SampleAllocateePtr<{{ event['name'] }}::SampleType>> rslt(ErrorCode(0));
  SampleAllocateePtr<{{ event['name'] }}::SampleType> SamplePtr = std::make_unique<{{ event['name'] }}::SampleType>();

  if (nullptr != SamplePtr) {
    rslt = Result<SampleAllocateePtr<{{ event['name'] }}::SampleType>>(std::move(SamplePtr));
  } else {
    rslt = Result<SampleAllocateePtr<{{ event['name'] }}::SampleType>>(ErrorCode(-ENOMEM));
  }

  return rslt;
}

Result<void> {{ event['name'] }}::Send(SampleAllocateePtr<{{ event['name'] }}::SampleType> data) {
  Result<void> rslt;

  if (nullptr != data) {
    rslt = {{ event['name'] }}::Send(*data.get());
  }

  return rslt;
}

ara::com::SubscriptionState {{ event['name'] }}::GetSubscriptionState () const noexcept {
  ara::com::SubscriptionState state = ara::com::SubscriptionState::kNotSubscribed;
  // TODO: Implement subscription state check using vsomeip API
  return state;
}

bool {{ event['name'] }}::OnSubscribe(vsomeip::client_t client, vsomeip::uid_t uid, vsomeip::gid_t gid, bool isSubscribe) {
  // Handle subscription events for this event
  // This method can be extended to track subscription states if needed
  return true;
}

{% endif %}
{% endfor %}
{% endfor %}
} // namespace events

namespace fields {
{% for field in service.get('fields', []) %}
{% if 'get' in field %}
ara::core::Result<void> {{ field['name'] }}::RegisterGetHandler(std::function<ara::core::Future<FieldType>()> getHandler) {
  m_getHandler = getHandler;
  return ara::core::Result<void>(0);
}

void {{ field['name'] }}::OnGetRequest(const std::shared_ptr<vsomeip::message> &msg) {
  if (!msg) return;

  auto res = vsomeip::runtime::get()->create_response(msg);
  bool bValid = false;
  int32_t serializedSize;
  if (nullptr != m_getHandler) {
    // Create local future variable
    auto future = m_getHandler();
    // Wait for the future to be ready
    ara::core::Result<FieldType> result = future.GetResult();
    if (result.HasValue()) {
        m_fieldGet = result.Value();
        bValid = true;
    }
  } else if (true == m_bValid) {
    bValid = true;
  }

  if (true == bValid) {
    serializedSize = {{ field | SomeIpXfEncode(allStructs, 'm_responseGet', 'sizeof(m_responseGet)', 'm_fieldGet') }};
    if (serializedSize > 0) {
      auto rtm = vsomeip::runtime::get();
      auto payload = rtm->create_payload();
      payload->set_data(m_responseGet, serializedSize);
      res->set_payload(payload);
      res->set_message_type(vsomeip::message_type_e::MT_RESPONSE);
      res->set_return_code((vsomeip::return_code_e)E_OK);
      m_app->send(res);
    }
  } else {
    res->set_return_code((vsomeip::return_code_e)E_NOT_OK);
    m_app->send(res);
  }
}

{% endif %}
{% if 'set' in field %}
ara::core::Result<void> {{ field['name'] }}::RegisterSetHandler(std::function<ara::core::Future<FieldType>(const FieldType& data)> setHandler) {
  m_setHandler = setHandler;
  return ara::core::Result<void>(0);
}

void {{ field['name'] }}::OnSetRequest(const std::shared_ptr<vsomeip::message> &msg) {
  if (!msg) return;

  auto res = vsomeip::runtime::get()->create_response(msg);
  int32_t serializedSize;
  if ((nullptr != m_setHandler) && msg->get_payload()) {
    auto payload = msg->get_payload();
    serializedSize = {{ field | SomeIpXfDecode(allStructs, 'payload->get_data()', 'payload->get_length()', 'm_fieldSet') }};
    if (serializedSize > 0) {
      // Create local future variable
      auto future = m_setHandler(m_fieldSet);
      // Wait for the future to be ready
      ara::core::Result<FieldType> result = future.GetResult();
      if (result.HasValue()) {
        serializedSize = {{ field | SomeIpXfEncode(allStructs, 'm_responseSet', 'sizeof(m_responseSet)', 'result.Value()') }};
        if (serializedSize > 0) {
          auto rtm = vsomeip::runtime::get();
          auto res_payload = rtm->create_payload();
          res_payload->set_data(m_responseSet, serializedSize);
          res->set_payload(res_payload);
          res->set_message_type(vsomeip::message_type_e::MT_RESPONSE);
          res->set_return_code((vsomeip::return_code_e)E_OK);
          m_app->send(res);
          return;
        }
      }
    }
  }

  res->set_return_code((vsomeip::return_code_e)E_NOT_OK);
  m_app->send(res);
}

{% endif %}
{% if 'event' in field or 'get' in field %}
Result<void> {{ field['name'] }}::Update(const FieldType& data) {
  Result<void> rslt;

{% if 'get' in field %}
  m_fieldGet = data;
  m_bValid = true;
{% endif %}
{% if 'event' in field %}
  int32_t serializedSize = 
    {{ field | SomeIpXfEncode(allStructs, 'm_payload', 'sizeof(m_payload)', 'data') }};
  if (serializedSize > 0) {
    auto rtm = vsomeip::runtime::get();
    auto payload = rtm->create_payload();
    payload->set_data(m_payload, serializedSize);
    m_app->notify({{ service['service'] }}, {{ service['instance'] }}, {{ field['event']['eventId'] }}, payload);
  } else {
    rslt = Result<void>(-EINVAL);
  }
{% endif %}
  return rslt;
}

{% endif %}
ara::com::ComErrc {{ field['name'] }}::Validate() {
  ara::com::ComErrc ercd = ara::com::ComErrc::kOk;
{% if 'set' in field %}
  if (nullptr == m_setHandler) {
    ercd = ara::com::ComErrc::kFieldSetHandlerNotSet;
  }
{% endif %}
{% if 'get' in field %}
  if ((nullptr == m_getHandler) && (false == m_bValid)) {
    ercd = ara::com::ComErrc::kFieldValueNotInitialized;
  }
{% endif %}
  return ercd;
}

{% if 'event' in field %}
bool {{ field['name'] }}::OnSubscribe(vsomeip::client_t client, vsomeip::uid_t uid, vsomeip::gid_t gid, bool isSubscribe) {
  // Handle subscription events for this field event
  // This method can be extended to track subscription states if needed
  return true;
}
{% endif %}

{% endfor %}
} // namespace fields

{{ service_name }}Skeleton::{{ service_name }}Skeleton(const InstanceIdentifier &instanceId,
                                           MethodCallProcessingMode mode) {
  m_mode = mode;
  m_serviceOffered = false;

  auto rtm = vsomeip::runtime::get();
  m_app = rtm->create_application("{{ service_name }}Skeleton");
  m_app->init();

  // Register state handler
  m_app->register_state_handler(std::bind(&{{ service_name }}Skeleton::OnState, this, std::placeholders::_1));

  // Register message handlers for each method
  {% for method in service.get('methods', []) %}
  {% if 'for' not in method %}
  m_app->register_message_handler({{ service['service'] }}, {{ service['instance'] }}, {{ method['methodId'] }}, 
                                 std::bind(&{{ service_name }}Skeleton::On{{ method['name'] }}Request, this, std::placeholders::_1));
  {% endif %}
  {% endfor %}

  // Register message handlers for each field get/set
  {% for field in service.get('fields', []) %}
  {% if 'get' in field %}
  m_app->register_message_handler({{ service['service'] }}, {{ service['instance'] }}, {{ field['get']['methodId'] }}, 
                                 std::bind(&fields::{{ field['name'] }}::OnGetRequest, &{{ field['name'] }}, std::placeholders::_1));
  {% endif %}
  {% if 'set' in field %}
  m_app->register_message_handler({{ service['service'] }}, {{ service['instance'] }}, {{ field['set']['methodId'] }}, 
                                 std::bind(&fields::{{ field['name'] }}::OnSetRequest, &{{ field['name'] }}, std::placeholders::_1));
  {% endif %}
  {% endfor %}
}

void {{ service_name }}Skeleton::OnState(vsomeip::state_type_e _state) {
  ASLOG({{ service_name | toMacro }}, ( "Application is %s\n",
            (_state == vsomeip::state_type_e::ST_REGISTERED ? "registered." : "deregistered.") ));

  if (_state == vsomeip::state_type_e::ST_REGISTERED) {
    m_condition.notify_one();
  }
}

void {{ service_name }}Skeleton::ThreadMain() {
  m_app->start();
}

{{ service_name }}Skeleton::~{{ service_name }}Skeleton() {
  if (m_app) {
    m_app->stop_offer_service({{ service['service'] }}, {{ service['instance'] }});
    m_app->stop();
    if (m_thread.joinable()) {
      m_thread.join();
    }
  }
}

Result<void> {{ service_name }}Skeleton::OfferService() {
  Result<void> rslt;
  ara::com::ComErrc ercd = ara::com::ComErrc::kOk;

{% for field in service.get('fields', []) %}
  if (ara::com::ComErrc::kOk == ercd) {
    ercd = {{ field['name'] }}.Validate();
  }
{% endfor %}
  if ((ara::com::ComErrc::kOk == ercd) && (false == m_serviceOffered)) {
    // Start the thread to run the vsomeip application
    m_thread = std::thread(&{{ service_name }}Skeleton::ThreadMain, this);

    // Wait for the application to be registered
    std::unique_lock<std::mutex> its_lock(m_mutex);
    m_condition.wait(its_lock);

    m_app->offer_service({{ service['service'] }}, {{ service['instance'] }});

    // Offer events and register subscription handlers
    {% for eg in service.get('event-groups', []) %}
    {% for event in eg['events'] %}
    {% if 'for' not in event %}
    std::set<vsomeip::eventgroup_t> event_groups;
    event_groups.insert({{ eg['groupId'] }});
    m_app->offer_event({{ service['service'] }}, {{ service['instance'] }}, {{ event['eventId'] }}, event_groups);
    m_app->register_subscription_handler({{ service['service'] }}, {{ service['instance'] }}, {{ eg['groupId'] }}, 
                                        std::bind(&events::{{ event['name'] }}::OnSubscribe, &{{ event['name'] }}, 
                                        std::placeholders::_1, std::placeholders::_2, 
                                        std::placeholders::_3, std::placeholders::_4));
    {% endif %}
    {% endfor %}
    {% endfor %}

    // Offer field events
    {% for field in service.get('fields', []) %}
    {% if 'event' in field %}
    std::set<vsomeip::eventgroup_t> field_event_groups;
    field_event_groups.insert({{ field['event']['groupId'] }});
    m_app->offer_event({{ service['service'] }}, {{ service['instance'] }}, {{ field['event']['eventId'] }}, field_event_groups);
    m_app->register_subscription_handler({{ service['service'] }}, {{ service['instance'] }}, {{ field['event']['groupId'] }}, 
                                        std::bind(&fields::{{ field['name'] }}::OnSubscribe, &{{ field['name'] }}, 
                                        std::placeholders::_1, std::placeholders::_2, 
                                        std::placeholders::_3, std::placeholders::_4));
    {% endif %}
    {% endfor %}

    m_serviceOffered = true;
    rslt = Result<void>(0);
  } else {
    rslt = Result<void>(ercd);
  }

  return rslt;
}

void {{ service_name }}Skeleton::StopOfferService() {
  if (m_app) {
    m_app->stop_offer_service({{ service['service'] }}, {{ service['instance'] }});
    m_serviceOffered = false;
  }
}

bool {{ service_name }}Skeleton::ProcessNextMethodCall() {
  // For vsomeip, message processing is event-driven
  // This method can be empty or implement polling if needed
  return false;
}

// Dedicated message handlers for each method
{% for method in service.get('methods', []) %}
{% if 'for' not in method %}
void {{ service_name }}Skeleton::On{{ method['name'] }}Request(const std::shared_ptr<vsomeip::message> &msg) {
  if (!msg) return;

  auto res = vsomeip::runtime::get()->create_response(msg);
  
  // Decode arguments
  {% if 'args' in method %}
  {% set method_args = GetArgs(cfg, method['args']) %}
  {% for arg in method_args %}
  static {{ arg['type'] }} {{ arg['name'] }};
  {% endfor %}

  if (msg->get_payload()) {
    int32_t offset = 0;
    {% for arg in method_args %}
    int32_t argSize = {{ arg | SomeIpXfDecode(allStructs, 'msg->get_payload()->get_data() + offset', 'msg->get_payload()->get_length() - offset', arg['name']) }};
    if (argSize > 0) {
      offset += argSize;
    } else {
      res->set_return_code((vsomeip::return_code_e)E_NOT_OK);
      m_app->send(res);
      return;
    }
    {% endfor %}
  }
  {% endif %}
  
  // Call the method
  auto future = {{ method['name'] }}({% for arg in method_args %}{{ arg['name'] }}{% if not loop.last %},{% endif %}{% endfor %});
  
  // Wait for the future to be ready
  auto result = future.GetResult();
  if (result.HasValue()) {
    {% if method.get('return', 'void') != 'void' %}
    // Encode response
    uint8_t response[20 + {{ method.get('return', 'void') | getTypePayloadSize(allStructs) }}];
    int32_t serializedSize = {{ method.get('return', 'void') | SomeIpXfEncode(allStructs, '&response[20]', 'sizeof(response) - 20', 'result.Value()') }};
    if (serializedSize > 0) {
      auto payload = vsomeip::runtime::get()->create_payload();
      payload->set_data(&response[20], serializedSize);
      res->set_payload(payload);
      res->set_return_code((vsomeip::return_code_e)E_OK);
    } else {
      res->set_return_code((vsomeip::return_code_e)E_NOT_OK);
    }
    {% else %}
    res->set_return_code((vsomeip::return_code_e)E_OK);
    {% endif %}
  } else {
    res->set_return_code((vsomeip::return_code_e)E_NOT_OK);
  }
  m_app->send(res);
}
{% endif %}
{% endfor %}

} // namespace {{ service_name }}
} // namespace com
} // namespace ara