/**
 * SSAS - Simple Smart Automotive Software
 * Copyright (C) 2021-{{ now.year }} Parai Wang <parai@foxmail.com>
 *
 * Generated at {{ now.strftime("%c") }}
 */

/* ================================ [ INCLUDES  ] ============================================== */
#include "{{ service_name }}SkeletonV.hpp"

namespace ara {
namespace com {
namespace {{ service_name }} {
/* ================================ [ MACROS    ] ============================================== */
#define AS_LOG_{{ service_name | toMacro }} 0
#define AS_LOG_{{ service_name | toMacro }}_E 2
/* ================================ [ TYPES     ] ============================================== */
/* ================================ [ CLASS     ] ============================================== */
/* ================================ [ DECLARES  ] ============================================== */
/* ================================ [ DATAS     ] ============================================== */
/* ================================ [ LOCALS    ] ============================================== */
static {{ service_name }}Skeleton *s_h{{ service_name }} = nullptr;
/* ================================ [ FUNCTIONS ] ============================================== */
namespace events {
{% for eg in service.get('event-groups', []) %}
{% for event in eg['events'] %}
{% if 'for' not in event %}
Result<void> {{ event['name'] }}::Send(const {{ event['name'] }}::SampleType &data) {
  Result<void> rslt;

  int32_t serializedSize = 
    {{ event | SomeIpXfEncode(allStructs, '&m_payload[20]', 'sizeof(m_payload) - 20', 'data') }};
  if (serializedSize > 0) {
    auto rtm = vsomeip::runtime::get();
    auto request = rtm->create_request();
    request->set_service({{ service['service'] }});
    request->set_instance({{ service['instance'] }});
    request->set_method({{ event['eventId'] }});
    request->set_message_type(vsomeip::message_type_e::MT_NOTIFICATION);
    
    auto payload = rtm->create_payload();
    payload->set_data(&m_payload[20], serializedSize);
    request->set_payload(payload);
    
    m_app->notify({{ service['service'] }}, {{ service['instance'] }}, {{ event['eventId'] }}, payload);
  } else {
    rslt = Result<void>(-EINVAL);
  }

  return rslt;
}

Result<SampleAllocateePtr<{{ event['name'] }}::SampleType>> {{ event['name'] }}::Allocate() {
  Result<SampleAllocateePtr<{{ event['name'] }}::SampleType>> rslt(ErrorCode(0));
  SampleAllocateePtr<{{ event['name'] }}::SampleType> SamplePtr = std::make_unique<{{ event['name'] }}::SampleType>();

  if (nullptr != SamplePtr) {
    rslt = Result<SampleAllocateePtr<{{ event['name'] }}::SampleType>>(std::move(SamplePtr));
  } else {
    rslt = Result<SampleAllocateePtr<{{ event['name'] }}::SampleType>>(ErrorCode(-ENOMEM));
  }

  return rslt;
}

Result<void> {{ event['name'] }}::Send(SampleAllocateePtr<{{ event['name'] }}::SampleType> data) {
  Result<void> rslt;

  if (nullptr != data) {
    rslt = {{ event['name'] }}::Send(*data.get());
  }

  return rslt;
}

ara::com::SubscriptionState {{ event['name'] }}::GetSubscriptionState () const noexcept {
  ara::com::SubscriptionState state = ara::com::SubscriptionState::kNotSubscribed;
  // TODO: Implement subscription state check using vsomeip API
  return state;
}

{% endif %}
{% endfor %}
{% endfor %}
} // namespace events

namespace fields {
{% for field in service.get('fields', []) %}
{% if 'get' in field %}
ara::core::Result<void> {{ field['name'] }}::RegisterGetHandler(std::function<ara::core::Future<FieldType>()> getHandler) {
  m_getHandler = getHandler;
  return ara::core::Result<void>(0);
}

int {{ field['name'] }}::OnGetRequest(const std::shared_ptr<vsomeip::message> &req, const std::shared_ptr<vsomeip::message> &res) {
  int ret = 0;
  bool bValid = false;
  int32_t serializedSize;
  if (nullptr != m_getHandler) {
    m_futureGet = m_getHandler();
    if (true == m_futureGet.is_ready()) {
      ara::core::Result<FieldType> result = m_futureGet.GetResult();
      if (result.HasValue()) {
          m_fieldGet = result.Value();
          bValid = true;
      } else {
        ret = -1;
      }
    } else {
      ret = -2; // Pending
    }
  } else if (true == m_bValid) {
    bValid = true;
  } else {
    ret = -1;
  }

  if (true == bValid) {
    serializedSize = {{ field | SomeIpXfEncode(allStructs, 'm_responseGet', 'sizeof(m_responseGet)', 'm_fieldGet') }};
    if (serializedSize > 0) {
      auto rtm = vsomeip::runtime::get();
      auto payload = rtm->create_payload();
      payload->set_data(m_responseGet, serializedSize);
      res->set_payload(payload);
      res->set_message_type(vsomeip::message_type_e::MT_RESPONSE);
      res->set_return_code((vsomeip::return_code_e)E_OK);
    } else {
      ret = -1;
    }
  }

  return ret;
}

{% endif %}
{% if 'set' in field %}
ara::core::Result<void> {{ field['name'] }}::RegisterSetHandler(std::function<ara::core::Future<FieldType>(const FieldType& data)> setHandler) {
  m_setHandler = setHandler;
  return ara::core::Result<void>(0);
}

int {{ field['name'] }}::OnSetRequest(const std::shared_ptr<vsomeip::message> &req, const std::shared_ptr<vsomeip::message> &res) {
  int ret = 0;
  int32_t serializedSize;
  if ((nullptr != m_setHandler) && req->get_payload()) {
    auto payload = req->get_payload();
    serializedSize = {{ field | SomeIpXfDecode(allStructs, 'payload->get_data()', 'payload->get_length()', 'm_fieldSet') }};
    if (serializedSize > 0) {
      m_futureSet = m_setHandler(m_fieldSet);
      if (true == m_futureSet.is_ready()) {
        ara::core::Result<FieldType> result = m_futureSet.GetResult();
        if (result.HasValue()) {
          serializedSize = {{ field | SomeIpXfEncode(allStructs, 'm_responseSet', 'sizeof(m_responseSet)', 'result.Value()') }};
          if (serializedSize > 0) {
            auto rtm = vsomeip::runtime::get();
            auto res_payload = rtm->create_payload();
            res_payload->set_data(m_responseSet, serializedSize);
            res->set_payload(res_payload);
            res->set_message_type(vsomeip::message_type_e::MT_RESPONSE);
            res->set_return_code((vsomeip::return_code_e)E_OK);
          } else {
            ret = -1;
          }
        } else {
          ret = -1;
        }
      } else {
        ret = -2; // Pending
      }
    } else {
      ret = -1;
    }
  } else {
    ret = -1;
  }
  return ret;
}

{% endif %}
{% if 'event' in field or 'get' in field %}
Result<void> {{ field['name'] }}::Update(const FieldType& data) {
  Result<void> rslt;

{% if 'get' in field %}
  m_fieldGet = data;
  m_bValid = true;
{% endif %}
{% if 'event' in field %}
  int32_t serializedSize = 
    {{ field | SomeIpXfEncode(allStructs, 'm_payload', 'sizeof(m_payload)', 'data') }};
  if (serializedSize > 0) {
    auto rtm = vsomeip::runtime::get();
    auto payload = rtm->create_payload();
    payload->set_data(m_payload, serializedSize);
    m_app->notify({{ service['service'] }}, {{ service['instance'] }}, {{ field['event']['eventId'] }}, payload);
  } else {
    rslt = Result<void>(-EINVAL);
  }
{% endif %}
  return rslt;
}

{% endif %}
ara::com::ComErrc {{ field['name'] }}::Validate() {
  ara::com::ComErrc ercd = ara::com::ComErrc::kOk;
{% if 'set' in field %}
  if (nullptr == m_setHandler) {
    ercd = ara::com::ComErrc::kFieldSetHandlerNotSet;
  }
{% endif %}
{% if 'get' in field %}
  if ((nullptr == m_getHandler) && (false == m_bValid)) {
    ercd = ara::com::ComErrc::kFieldValueNotInitialized;
  }
{% endif %}
  return ercd;
}

{% endfor %}
} // namespace fields

{{ service_name }}Skeleton::{{ service_name }}Skeleton(const InstanceIdentifier &instanceId,
                                           MethodCallProcessingMode mode) {
  if (nullptr == s_h{{ service_name }}) {
    s_h{{ service_name }} = this;
  } else {
    throw std::runtime_error("{{ service_name }} already created");
  }

  m_mode = mode;
  m_serviceId = {{ service['service'] }};
  m_instanceId = {{ service['instance'] }};
  m_serviceOffered = false;
  
  auto rtm = vsomeip::runtime::get();
  m_app = rtm->create_application("{{ service_name }}Skeleton");
  m_app->init();
  m_app->register_message_handler(m_serviceId, m_instanceId, vsomeip::ANY_METHOD, 
                                 std::bind(&{{ service_name }}Skeleton::OnMessage, this, std::placeholders::_1));
}

void {{ service_name }}Skeleton::ThreadMain() {
  m_app->start();
}

{{ service_name }}Skeleton::~{{ service_name }}Skeleton() {
  if (this == s_h{{ service_name }}) {
    s_h{{ service_name }} = nullptr;
  }
  
  if (m_app) {
    m_app->stop_offer_service(m_serviceId, m_instanceId);
    m_app->stop();
    if (m_thread.joinable()) {
      m_thread.join();
    }
  }
}

Result<void> {{ service_name }}Skeleton::OfferService() {
  Result<void> rslt;
  ara::com::ComErrc ercd = ara::com::ComErrc::kOk;
  
{% for field in service.get('fields', []) %}
  if (ara::com::ComErrc::kOk == ercd) {
    ercd = {{ field['name'] }}.Validate();
  }
{% endfor %}
  if ((ara::com::ComErrc::kOk == ercd) && (false == m_serviceOffered)) {
    m_app->offer_service(m_serviceId, m_instanceId);
    
    // Offer events and register subscription handlers
    {% for eg in service.get('event-groups', []) %}
    {% for event in eg['events'] %}
    {% if 'for' not in event %}
    std::set<vsomeip::eventgroup_t> event_groups;
    event_groups.insert({{ eg['groupId'] }});
    m_app->offer_event({{ service['service'] }}, {{ service['instance'] }}, {{ event['eventId'] }}, event_groups);
    m_app->register_subscription_handler({{ service['service'] }}, {{ service['instance'] }}, {{ eg['groupId'] }}, 
                                        std::bind(&{{ service_name }}Skeleton::OnSubscribe, this, 
                                        std::placeholders::_1, std::placeholders::_2, 
                                        std::placeholders::_3, std::placeholders::_4));
    {% endif %}
    {% endfor %}
    {% endfor %}
    
    // Offer field events
    {% for field in service.get('fields', []) %}
    {% if 'event' in field %}
    std::set<vsomeip::eventgroup_t> field_event_groups;
    field_event_groups.insert({{ field['event']['groupId'] }});
    m_app->offer_event({{ service['service'] }}, {{ service['instance'] }}, {{ field['event']['eventId'] }}, field_event_groups);
    m_app->register_subscription_handler({{ service['service'] }}, {{ service['instance'] }}, {{ field['event']['groupId'] }}, 
                                        std::bind(&{{ service_name }}Skeleton::OnSubscribe, this, 
                                        std::placeholders::_1, std::placeholders::_2, 
                                        std::placeholders::_3, std::placeholders::_4));
    {% endif %}
    {% endfor %}
    
    // Start the thread to run the vsomeip application
    m_thread = std::thread(&{{ service_name }}Skeleton::ThreadMain, this);
    m_serviceOffered = true;
    rslt = Result<void>(0);
  } else {
    rslt = Result<void>(ercd);
  }

  return rslt;
}

void {{ service_name }}Skeleton::StopOfferService() {
  if (m_app) {
    m_app->stop_offer_service(m_serviceId, m_instanceId);
    m_serviceOffered = false;
  }
}

bool {{ service_name }}Skeleton::ProcessNextMethodCall() {
  // For vsomeip, message processing is event-driven
  // This method can be empty or implement polling if needed
  return false;
}

bool {{ service_name }}Skeleton::OnSubscribe(vsomeip::client_t client, vsomeip::uid_t uid, vsomeip::gid_t gid, bool isSubscribe) {
  // Handle subscription events
  // This method can be extended to track subscription states if needed
  return true;
}

void {{ service_name }}Skeleton::OnMessage(const std::shared_ptr<vsomeip::message> &msg) {
  if (!msg) return;
  
  uint32_t methodId = msg->get_method();
  
  // Handle method calls
  {% for method in service.get('methods', []) %}
  {% if 'for' not in method %}
  if (methodId == {{ method['methodId'] }}) {
    auto res = vsomeip::runtime::get()->create_response(msg);
    
    // Decode arguments
    {% if 'args' in method %}
    {% set method_args = GetArgs(cfg, method['args']) %}
    {% for arg in method_args %}
    static {{ arg['type'] }} {{ arg['name'] }};
    {% endfor %}
    
    if (msg->get_payload()) {
      int32_t offset = 0;
      {% for arg in method_args %}
      int32_t argSize = {{ arg | SomeIpXfDecode(allStructs, 'msg->get_payload()->get_data() + offset', 'msg->get_payload()->get_length() - offset', arg['name']) }};
      if (argSize > 0) {
        offset += argSize;
      } else {
        res->set_return_code((vsomeip::return_code_e)E_NOT_OK);
        m_app->send(res);
        return;
      }
      {% endfor %}
    }
    {% endif %}
    
    // Call the method
    auto future = {{ method['name'] }}({% for arg in method_args %}{{ arg['name'] }}{% if not loop.last %},{% endif %}{% endfor %});
    
    if (future.is_ready()) {
      auto result = future.GetResult();
      if (result.HasValue()) {
        {% if method.get('return', 'void') != 'void' %}
        // Encode response
        uint8_t response[20 + {{ method.get('return', 'void') | getTypePayloadSize(allStructs) }}];
        int32_t serializedSize = {{ method.get('return', 'void') | SomeIpXfEncode(allStructs, '&response[20]', 'sizeof(response) - 20', 'result.Value()') }};
        if (serializedSize > 0) {
          auto payload = vsomeip::runtime::get()->create_payload();
          payload->set_data(&response[20], serializedSize);
          res->set_payload(payload);
          res->set_return_code((vsomeip::return_code_e)E_OK);
        } else {
          res->set_return_code((vsomeip::return_code_e)E_NOT_OK);
        }
        {% else %}
        res->set_return_code((vsomeip::return_code_e)E_OK);
        {% endif %}
      } else {
        res->set_return_code((vsomeip::return_code_e)E_NOT_OK);
      }
      m_app->send(res);
    } else {
      // Handle async response
    }
    return;
  }
  {% endif %}
  {% endfor %}
  
  // Handle field get/set requests
  {% for field in service.get('fields', []) %}
  {% if 'get' in field %}
  if (methodId == {{ field['get']['methodId'] }}) {
    auto res = vsomeip::runtime::get()->create_response(msg);
    int ret = {{ field['name'] }}.OnGetRequest(msg, res);
    if (ret == 0) {
      m_app->send(res);
    }
    return;
  }
  {% endif %}
  {% if 'set' in field %}
  if (methodId == {{ field['set']['methodId'] }}) {
    auto res = vsomeip::runtime::get()->create_response(msg);
    int ret = {{ field['name'] }}.OnSetRequest(msg, res);
    if (ret == 0) {
      m_app->send(res);
    }
    return;
  }
  {% endif %}
  {% endfor %}
}

} // namespace {{ service_name }}
} // namespace com
} // namespace ara
