/**
 * SSAS - Simple Smart Automotive Software
 * Copyright (C) 2021-{{ now.year }} Parai Wang <parai@foxmail.com>
 *
 * Generated at {{ now.strftime("%c") }}
 */

/* ================================ [ INCLUDES  ] ============================================== */
#include "{{ service_name }}ProxyV.hpp"
#include <thread>

#include "Std_Debug.h"
#ifdef USE_E2E
#include "E2E.h"
#include "E2E_Cfg.h"
#endif

namespace ara {
namespace com {
namespace {{ service_name }} {

using namespace ara::core;
using namespace ara::com;

/* ================================ [ MACROS    ] ============================================== */
#define AS_LOG_{{ service_name | toMacro }} 0
#define AS_LOG_{{ service_name | toMacro }}_E 2

/* ================================ [ CLASS     ] ============================================== */
class {{ service_name }}Manager {
public:
  static {{ service_name }}Manager& GetInstance() {
    static {{ service_name }}Manager instance;
    return instance;
  }

  std::shared_ptr<vsomeip::application> GetApplication() {
    return m_app;
  }

  Result<ServiceHandleContainer<{{ service_name }}Proxy::HandleType>>
  FindService(InstanceSpecifier instanceSpec) {
    Result<ServiceHandleContainer<{{ service_name }}Proxy::HandleType>> rslt({});
    auto app = GetApplication();
    if ((false == m_isAvailable) && (false == m_appStarted)) {
      app->register_availability_handler({{ service['service'] }}, {{ service['instance'] }},
          std::bind(&{{ service_name }}Manager::OnAvailability, this,
          std::placeholders::_1, std::placeholders::_2, std::placeholders::_3));
      app->request_service({{ service['service'] }}, {{ service['instance'] }});
      m_thread = std::thread(&{{ service_name }}Manager::ThreadMain, this);
      m_appStarted = true;
    }

    if (true == m_isAvailable) {
      ServiceHandleContainer<{{ service_name }}Proxy::HandleType> shc;
      shc.push_back({{ service_name }}Proxy::HandleType());
      rslt = Result<ServiceHandleContainer<{{ service_name }}Proxy::HandleType>>(shc);
    }
    return rslt;
  }

  void OnAvailability(vsomeip::service_t service, vsomeip::instance_t instance, bool isAvailable) {
    ASLOG({{ service_name | toMacro }}, ("OnAvailability: service=0x%04x, instance=0x%04x, isAvailable=%d\n", service, instance, isAvailable));
    m_isAvailable = isAvailable;
  }

private:
  {{ service_name }}Manager() {
    m_app = vsomeip::runtime::get()->create_application("{{service_name}}Proxy");
    m_app->init();
    // m_app->set_client({{ service['clientId'] }});
  }
  
  ~{{ service_name }}Manager() {
    if (m_app) {
      m_app->stop();
    }
    if (m_thread.joinable()) {
      m_thread.join();
    }
  }
  
  void ThreadMain() {
    m_app->start();
  }
  
  std::shared_ptr<vsomeip::application> m_app;
  bool m_isAvailable = false;
  bool m_appStarted = false;
  std::thread m_thread;
};

/* ================================ [ EVENTS    ] ============================================== */
{% for eg in service.get('event-groups', []) %}
{% for event in eg['events'] %}
{% if 'for' not in event %}
events::{{ event['name'] }}::{{ event['name'] }}() {
}

events::{{ event['name'] }}::~{{ event['name'] }}() {
}

Result<void> events::{{ event['name'] }}::Subscribe(size_t maxSampleCount) {
  if (false == m_isSubscribed) {
    m_maxSampleCount = maxSampleCount;
    m_lastNSamples.clear();

    auto app = {{ service_name }}Manager::GetInstance().GetApplication();

    std::set<vsomeip::eventgroup_t> event_groups;
    event_groups.insert({{ eg['groupId'] }});

    app->register_subscription_status_handler(
        {{ service['service'] }}, {{ service['instance'] }},
        {{ eg['groupId'] }}, {{ event['eventId'] }},
            std::bind(&{{ event['name'] }}::OnSubscribeAck, this,
              std::placeholders::_1, std::placeholders::_2,
              std::placeholders::_3, std::placeholders::_4,
              std::placeholders::_5));
    app->register_message_handler({{ service['service'] }}, {{ service['instance'] }}, {{ event['eventId'] }},
            std::bind(&{{ event['name'] }}::OnNotification, this, std::placeholders::_1));
    app->request_event({{ service['service'] }}, {{ service['instance'] }}, {{ event['eventId'] }},
                        event_groups, vsomeip::event_type_e::ET_EVENT);

    app->subscribe({{ service['service'] }}, {{ service['instance'] }}, {{ eg['groupId'] }});
  }
  return Result<void>(0);
}

SubscriptionState events::{{ event['name'] }}::GetSubscriptionState() const {
  return m_isSubscribed ? SubscriptionState::kSubscribed : SubscriptionState::kNotSubscribed;
}

void events::{{ event['name'] }}::Unsubscribe() {
  auto& manager = {{ service_name }}Manager::GetInstance();
  auto app = manager.GetApplication();

  app->unsubscribe({{ service['service'] }}, {{ service['instance'] }}, {{ eg['groupId'] }});
  app->unregister_message_handler({{ service['service'] }}, {{ service['instance'] }}, {{ event['eventId'] }});

  app->release_event({{ service['service'] }}, {{ service['instance'] }}, {{ event['eventId'] }});

  m_isSubscribed = false;
}

size_t events::{{ event['name'] }}::GetFreeSampleCount() const noexcept {
  return m_maxSampleCount - m_lastNSamples.size();
}

void events::{{ event['name'] }}::OnNotification(const std::shared_ptr<vsomeip::message> &msg) {
  int32_t serializedSize;
  Std_ReturnType ret = E_OK;
  
{% if event.get('useE2E', false) and 'E2E-RX' in event %}
  /* Check E2E protection */
  ret = E2E_P{{ event['E2E-RX']['profile'][1:] }}Check(E2E_CHECK_P{{ event['E2E-RX']['profile'][1:] }}_{{ service_name | toMacro }}_{{ eg['name'] | toMacro }}_{{ event['name'] | toMacro }}_RX, msg->get_payload()->get_data(), msg->get_payload()->get_length());
  if (E_OK == ret || E2E_E_OK_SOME_LOST == ret) {
{% endif %}
    SamplePtr<SampleType> samplePtr(new SampleType);
    int32_t e2eOffset = {{ GetE2EOffset(event, 'RX') }};
    serializedSize = {{ SomeIpXfDecode(event, allStructs, 'msg->get_payload()->get_data() + e2eOffset', 'msg->get_payload()->get_length() - e2eOffset', '(*samplePtr)') }};
    if (serializedSize > 0) {
      m_lastNSamples.push_back(std::move(samplePtr));
      if (m_lastNSamples.size() > m_maxSampleCount) {
        m_lastNSamples.pop_front();
      }
      if (nullptr != m_evtRxHandler) {
        m_evtRxHandler();
      }
    }
{% if event.get('useE2E', false) and 'E2E-RX' in event %}
  } else {
    ASLOG({{ service_name | toMacro }}_E, ("E2E check failed for {{ event['name'] }}, ercd=0x%x\n", ret));
  }
{% endif %}
}

void events::{{ event['name'] }}::OnSubscribeAck(
                       const vsomeip::service_t _service,
                       const vsomeip::instance_t _instance,
                       const vsomeip::eventgroup_t _eventgroup,
                       const vsomeip::event_t _event,
                       const uint16_t _error) {
  ASLOG({{ service_name | toMacro }}, ("OnSubscribeAck: service=0x%04x, instance=0x%04x, eventgroup=0x%04x, event=0x%04x, error=0x%04x\n", _service, _instance, _eventgroup, _event, _error));
  m_isSubscribed = (0 == _error);

  if (m_stateChgHandler) {
    m_stateChgHandler(m_isSubscribed ? SubscriptionState::kSubscribed : SubscriptionState::kNotSubscribed);
  }
}
{% endif %}
{% endfor %}
{% endfor %}

/* ================================ [ FIELDS    ] ============================================== */
{% for field in service.get('fields', []) %}
fields::{{ field['name'] }}::{{ field['name'] }}() {
}

fields::{{ field['name'] }}::~{{ field['name'] }}() {
}

{% if 'event' in field %}
Result<void> fields::{{ field['name'] }}::Subscribe(size_t maxSampleCount) {
  if (false == m_isSubscribed) {
    m_maxSampleCount = maxSampleCount;
    m_lastNSamples.clear();

    auto app = {{ service_name }}Manager::GetInstance().GetApplication();

    std::set<vsomeip::eventgroup_t> event_groups;
    event_groups.insert({{ field['event']['groupId'] }});

    app->register_subscription_status_handler(
        {{ service['service'] }}, {{ service['instance'] }},
        {{ field['event']['groupId'] }}, {{ field['event']['eventId'] }},
            std::bind(&{{ field['name'] }}::OnSubscribeAck, this,
              std::placeholders::_1, std::placeholders::_2,
              std::placeholders::_3, std::placeholders::_4,
              std::placeholders::_5));
    app->register_message_handler({{ service['service'] }}, {{ service['instance'] }}, {{ field['event']['eventId'] }},
            std::bind(&{{ field['name'] }}::OnNotification, this, std::placeholders::_1));
    app->request_event({{ service['service'] }}, {{ service['instance'] }}, {{ field['event']['eventId'] }},
                        event_groups, vsomeip::event_type_e::ET_EVENT);
    app->subscribe({{ service['service'] }}, {{ service['instance'] }}, {{ field['event']['groupId'] }});
  }
  return Result<void>(0);
}

size_t fields::{{ field['name'] }}::GetFreeSampleCount() const noexcept {
  return m_maxSampleCount - m_lastNSamples.size();
}

SubscriptionState fields::{{ field['name'] }}::GetSubscriptionState() const {
  return m_isSubscribed ? SubscriptionState::kSubscribed : SubscriptionState::kNotSubscribed;
}

void fields::{{ field['name'] }}::Unsubscribe() {
  auto& manager = {{ service_name }}Manager::GetInstance();
  auto app = manager.GetApplication();

  app->unsubscribe({{ service['service'] }}, {{ service['instance'] }}, {{ field['event']['groupId'] }});

  app->release_event({{ service['service'] }}, {{ service['instance'] }}, {{ field['event']['eventId'] }});

  m_isSubscribed = false;
}

Result<void> fields::{{ field['name'] }}::SetReceiveHandler(EventReceiveHandler handler) {
  m_evtRxHandler = handler;
  return Result<void>(0);
}

Result<void> fields::{{ field['name'] }}::UnsetReceiveHandler() {
  m_evtRxHandler = nullptr;
  return Result<void>(0);
}

Result<void> fields::{{ field['name'] }}::SetSubscriptionStateChangeHandler(SubscriptionStateChangeHandler handler) {
  m_stateChgHandler = handler;
  return Result<void>(0);
}

void fields::{{ field['name'] }}::UnsetSubscriptionStateChangeHandler() {
  m_stateChgHandler = nullptr;
}

void fields::{{ field['name'] }}::OnSubscribeAck(
                       const vsomeip::service_t _service,
                       const vsomeip::instance_t _instance,
                       const vsomeip::eventgroup_t _eventgroup,
                       const vsomeip::event_t _event,
                       const uint16_t _error) {
  ASLOG({{ service_name | toMacro }}, ("OnSubscribeAck: service=0x%04x, instance=0x%04x, eventgroup=0x%04x, event=0x%04x, error=0x%04x\n", _service, _instance, _eventgroup, _event, _error));
  m_isSubscribed = (0 == _error);

  if (m_stateChgHandler) {
    m_stateChgHandler(m_isSubscribed ? SubscriptionState::kSubscribed : SubscriptionState::kNotSubscribed);
  }
}

void fields::{{ field['name'] }}::OnNotification(const std::shared_ptr<vsomeip::message> &evt) {
  int32_t serializedSize;
  Std_ReturnType ret = E_OK;
  
{% if field.get('event', {}).get('useE2E', false) and 'E2E-RX' in field['event'] %}
  /* Check E2E protection */
  ret = E2E_P{{ field['event']['E2E-RX']['profile'][1:] }}Check(E2E_CHECK_P{{ field['event']['E2E-RX']['profile'][1:] }}_{{ service_name | toMacro }}_{{ field['name'] | toMacro }}_EVENT_RX, evt->get_payload()->get_data(), evt->get_payload()->get_length());
  if (E_OK == ret || E2E_E_OK_SOME_LOST == ret) {
{% endif %}
    SamplePtr<FieldType> samplePtr(new FieldType);
    int32_t e2eOffset = {{ GetE2EOffset(field, 'RX', 'event') }};
    serializedSize = {{ SomeIpXfDecode(field, allStructs, 'evt->get_payload()->get_data() + e2eOffset', 'evt->get_payload()->get_length() - e2eOffset', '(*samplePtr)') }};
    if (serializedSize > 0) {
      m_lastNSamples.push_back(std::move(samplePtr));
      if (m_lastNSamples.size() > m_maxSampleCount) {
        m_lastNSamples.pop_front();
      }
      if (nullptr != m_evtRxHandler) {
        m_evtRxHandler();
      }
    }
{% if field.get('event', {}).get('useE2E', false) and 'E2E-RX' in field['event'] %}
  } else {
    ASLOG({{ service_name | toMacro }}_E, ("E2E check failed for {{ field['name'] }} event, ercd=0x%x\n", ret));
  }
{% endif %}
}
{% endif %}

{% if 'get' in field %}
Future<fields::{{ field['name'] }}::FieldType> fields::{{ field['name'] }}::Get() {
  auto promise = std::make_shared<Promise<FieldType>>();
  m_promiseGet = promise;

  // Create request
  auto& manager = {{ service_name }}Manager::GetInstance();
  auto app = manager.GetApplication();

  auto rtm = vsomeip::runtime::get();
  std::shared_ptr<vsomeip::message> request = rtm->create_request();
  request->set_service({{ service['service'] }});
  request->set_instance({{ service['instance'] }});
  request->set_method({{ field['get']['methodId'] }});

  app->send(request);

  return promise->get_future();
}

void fields::{{ field['name'] }}::OnGetResponse(const std::shared_ptr<vsomeip::message> &res) {
  Std_ReturnType ret = E_OK;
  int32_t serializedSize;
  
{% if field.get('get', {}).get('useE2E', false) and 'E2E-RX' in field['get'] %}
  /* Check E2E protection */
  ret = E2E_P{{ field['get']['E2E-RX']['profile'][1:] }}Check(E2E_CHECK_P{{ field['get']['E2E-RX']['profile'][1:] }}_{{ service_name | toMacro }}_{{ field['name'] | toMacro }}_GET_RX, res->get_payload()->get_data(), res->get_payload()->get_length());
  if (E_OK == ret || E2E_E_OK_SOME_LOST == ret) {
{% endif %}
  if (nullptr != m_promiseGet) {
    int32_t e2eOffset = {{ GetE2EOffset(field, 'RX', 'get') }};
    serializedSize = {{ SomeIpXfDecode(field, allStructs, 'res->get_payload()->get_data() + e2eOffset', 'res->get_payload()->get_length() - e2eOffset', 'm_fieldGet') }};
    if (serializedSize > 0) {
      m_promiseGet->set_value(m_fieldGet);
    } else {
      ret = E_NOT_OK;
      m_promiseGet->SetError(-EINVAL);
    }
    m_promiseGet = nullptr;
  } else {
    ret = E_NOT_OK;
  }
{% if field.get('get', {}).get('useE2E', false) and 'E2E-RX' in field['get'] %}
  } else {
    ASLOG({{ service_name | toMacro }}_E, ("E2E check failed for Get{{ field['name'] }}, ercd=0x%x\n", ret));
    if (nullptr != m_promiseGet) {
      m_promiseGet->SetError(ret);
      m_promiseGet = nullptr;
    }
  }
{% endif %}
}
{% endif %}

{% if 'set' in field %}
Future<fields::{{ field['name'] }}::FieldType> fields::{{ field['name'] }}::Set(const FieldType& value) {
  auto promise = std::make_shared<Promise<FieldType>>();
  m_promiseSet = promise;
  m_fieldSet = value;

  // Create request
  auto& manager = {{ service_name }}Manager::GetInstance();
  auto app = manager.GetApplication();

  auto rtm = vsomeip::runtime::get();
  std::shared_ptr<vsomeip::message> request = rtm->create_request();
  request->set_service({{ service['service'] }});
  request->set_instance({{ service['instance'] }});
  request->set_method({{ field['set']['methodId'] }});

  // Encode value into payload
  int32_t serializedSize;
  int32_t encodeOffset = 0;
  encodeOffset += {{ GetE2EOffset(field, 'TX', 'set') }};

  std::vector<uint8_t> payload_data({{ GetTypePayloadSize(field, allStructs) }} + {{ GetE2EOverhead(field, 'TX', 'set') }});
  serializedSize = {{ SomeIpXfEncode(field, allStructs, 'payload_data.data() + encodeOffset', 'payload_data.size() - encodeOffset', 'value') }};
  
  if (serializedSize > 0) {
    Std_ReturnType ret = E_OK;
{% if field.get('set', {}).get('useE2E', false) and 'E2E-TX' in field['set'] %}
    /* Apply E2E protection */
    ret = E2E_P{{ field['set']['E2E-TX']['profile'][1:] }}Protect(E2E_PROTECT_P{{ field['set']['E2E-TX']['profile'][1:] }}_{{ service_name | toMacro }}_{{ field['name'] | toMacro }}_SET_TX, payload_data.data(), serializedSize + {{ GetE2EOverhead(field, 'TX', 'set') }});
    if (E_OK == ret) {
{% endif %}
      auto payload = rtm->create_payload();
      payload->set_data(payload_data.data(), serializedSize + {{ GetE2EOverhead(field, 'TX', 'set') }});
      request->set_payload(payload);
      app->send(request);
{% if field.get('set', {}).get('useE2E', false) and 'E2E-TX' in field['set'] %}
    }
{% endif %}
  } else {
    m_promiseSet->SetError(-EINVAL);
    m_promiseSet = nullptr;
  }

  return promise->get_future();
}

void fields::{{ field['name'] }}::OnSetResponse(const std::shared_ptr<vsomeip::message> &res) {
  Std_ReturnType ret = E_OK;
  int32_t serializedSize;
  
{% if field.get('set', {}).get('useE2E', false) and 'E2E-RX' in field['set'] %}
  /* Check E2E protection */
  ret = E2E_P{{ field['set']['E2E-RX']['profile'][1:] }}Check(E2E_CHECK_P{{ field['set']['E2E-RX']['profile'][1:] }}_{{ service_name | toMacro }}_{{ field['name'] | toMacro }}_SET_RX, res->get_payload()->get_data(), res->get_payload()->get_length());
  if (E_OK == ret || E2E_E_OK_SOME_LOST == ret) {
{% endif %}
  if (m_promiseSet && res && res->get_payload()) {
    int32_t e2eOffset = {{ GetE2EOffset(field, 'RX', 'set') }};
    serializedSize = {{ SomeIpXfDecode(field, allStructs, 'res->get_payload()->get_data() + e2eOffset', 'res->get_payload()->get_length() - e2eOffset', 'm_fieldSet') }};
    if (serializedSize > 0) {
      m_promiseSet->set_value(m_fieldSet);
    } else {
      ret = E_NOT_OK;
      m_promiseSet->SetError(-EINVAL);
    }
    m_promiseSet = nullptr;
  } else {
    ret = E_NOT_OK;
  }
{% if field.get('set', {}).get('useE2E', false) and 'E2E-RX' in field['set'] %}
  } else {
    ASLOG({{ service_name | toMacro }}_E, ("E2E check failed for Set{{ field['name'] }}, ercd=0x%x\n", ret));
    if (m_promiseSet) {
      m_promiseSet->SetError(ret);
      m_promiseSet = nullptr;
    }
  }
{% endif %}
}
{% endif %}
{% endfor %}
/* ================================ [ METHODS   ] ============================================== */
{% for method in service.get('methods', []) %}
{% if 'for' not in method %}
methods::{{ method['name'] }}::{{ method['name'] }}() {
}

methods::{{ method['name'] }}::~{{ method['name'] }}() {
}

Future<methods::{{ method['name'] }}::{{ toMethodTypeName(method.get('return', 'void'), method) }}>
  methods::{{ method['name'] }}::operator()({{ GetArgsList(method, cfg) }}) {
  ara::core::Future<{{ toMethodTypeName(method.get('return', 'void'), method) }}> future;
  if (nullptr == m_promise) {
    m_promise = std::make_shared<ara::core::Promise<{{ toMethodTypeName(method.get('return', 'void'), method) }}>>();
    future = m_promise->get_future();
    auto& manager = {{ service_name }}Manager::GetInstance();
    auto app = manager.GetApplication();

    auto rtm = vsomeip::runtime::get();
    std::shared_ptr<vsomeip::message> request = rtm->create_request();
    request->set_service({{ service['service'] }});
    request->set_instance({{ service['instance'] }});
    request->set_method({{ method['methodId'] }});

    // Encode arguments into payload
    int32_t offset = 0;
    int32_t serializedSize;
    int32_t encodeOffset = 0;
    encodeOffset += {{ GetE2EOverhead(method, 'TX') }};
    std::vector<uint8_t> payload_data({{ GetMethodPayloadSize(method, cfg, allStructs) }} + {{ GetE2EOverhead(method, 'TX') }});
    
{% if 'args' in method %}
{% set args = GetArgs(cfg, method['args']) %}
{% for arg in args %}
    if (offset >= 0 && (size_t)(offset + encodeOffset) < payload_data.size()) {
      serializedSize = {{ SomeIpXfEncode(arg, allStructs, 'payload_data.data() + offset + encodeOffset', 'payload_data.size() - offset - encodeOffset', arg['name']) }};
      if (serializedSize > 0) {
        offset += serializedSize;
      } else {
        offset = -1;
      }
    }
{% endfor %}
{% endif %}
    
    if (offset >= 0) {
      Std_ReturnType ret = E_OK;
{% if method.get('useE2E', false) and 'E2E-TX' in method %}
      /* Apply E2E protection */
      ret = E2E_P{{ method['E2E-TX']['profile'][1:] }}Protect(E2E_PROTECT_P{{ method['E2E-TX']['profile'][1:] }}_{{ service_name | toMacro }}_{{ method['name'] | toMacro }}_TX, payload_data.data(), offset + {{ GetE2EOverhead(method, 'TX') }});
      if (E_OK == ret) {
{% endif %}
        auto payload = rtm->create_payload();
        payload->set_data(payload_data.data(), offset + {{ GetE2EOverhead(method, 'TX') }});
        request->set_payload(payload);
        app->send(request);
{% if method.get('useE2E', false) and 'E2E-TX' in method %}
      } else {
        m_promise->SetError(-EINVAL);
        m_promise = nullptr;
      }
{% endif %}
    } else {
      m_promise->SetError(-EINVAL);
      m_promise = nullptr;
    }
  } else {
    Promise<{{ toMethodTypeName(method.get('return', 'void'), method) }}> promise;
    future = promise.get_future();
    promise.SetError(-EBUSY);
  }

  return future;
}

void methods::{{ method['name'] }}::OnResponse(const std::shared_ptr<vsomeip::message> &res) {
  Std_ReturnType ret = E_OK;
  
{% if method.get('useE2E', false) and 'E2E-RX' in method %}
  /* Check E2E protection */
  ret = E2E_P{{ method['E2E-RX']['profile'][1:] }}Check(E2E_CHECK_P{{ method['E2E-RX']['profile'][1:] }}_{{ service_name | toMacro }}_{{ method['name'] | toMacro }}_RX, res->get_payload()->get_data(), res->get_payload()->get_length());
  if (E_OK == ret || E2E_E_OK_SOME_LOST == ret) {
{% endif %}
  if (m_promise) {
{% if method.get('return', 'void') != 'void' %}
    if (res && res->get_payload()) {
      int32_t serializedSize;
      int32_t e2eOffset = {{ GetE2EOffset(method, 'RX') }};
      serializedSize = {{ SomeIpXfDecode(method.get('return', 'void'), allStructs, 'res->get_payload()->get_data() + e2eOffset', 'res->get_payload()->get_length() - e2eOffset', 'm_' ~ toMethodTypeName(method.get('return', 'void'), method)) }};
      if (serializedSize > 0) {
        m_promise->set_value(m_{{ toMethodTypeName(method.get('return', 'void'), method) }});
      } else {
        ret = E_NOT_OK;
        m_promise->SetError(-EINVAL);
      }
    } else {
      ret = E_NOT_OK;
      m_promise->SetError(-EINVAL);
    }
{% else %}
    // Void return type, just set success
    m_promise->set_value();
{% endif %}
    m_promise = nullptr;
  }
{% if method.get('useE2E', false) and 'E2E-RX' in method %}
  } else {
    ASLOG({{ service_name | toMacro }}_E, ("E2E check failed for {{ method['name'] }}, ercd=0x%x\n", ret));
    if (m_promise) {
      m_promise->SetError(ret);
      m_promise = nullptr;
    }
  }
{% endif %}
}

{% endif %}
{% endfor %}

/* ================================ [ PROXY     ] ============================================== */
{{ service_name }}Proxy::HandleType::HandleType()
  : m_serviceId({{ service['service'] }}),
    m_instanceId({{ service['instance'] }}) {
}

{{ service_name }}Proxy::HandleType::~HandleType() {
}

bool {{ service_name }}Proxy::HandleType::operator==(const HandleType &other) const {
  return m_serviceId == other.m_serviceId && m_instanceId == other.m_instanceId;
}

Result<ServiceHandleContainer<{{ service_name }}Proxy::HandleType>>
{{ service_name }}Proxy::FindService(InstanceSpecifier instanceSpec) {
  return {{ service_name }}Manager::GetInstance().FindService(instanceSpec);
}

{{ service_name }}Proxy::{{ service_name }}Proxy(HandleType &handle)
  : m_handle(handle) {
  auto& manager = {{ service_name }}Manager::GetInstance();
  auto app = manager.GetApplication();
{% for method in service.get('methods', []) %}
{% if 'for' not in method %}
  app->register_message_handler({{ service['service'] }}, {{ service['instance'] }},{{ method['methodId'] }},
      std::bind(&methods::{{ method['name'] }}::OnResponse, &{{ method['name'] }}, std::placeholders::_1));
{% endif %}
{% endfor %}
{% for field in service.get('fields', []) %}
{% if 'get' in field %}
  app->register_message_handler({{ service['service'] }}, {{ service['instance'] }},{{ field['get']['methodId'] }},
      std::bind(&fields::{{ field['name'] }}::OnGetResponse, &{{ field['name'] }}, std::placeholders::_1));
{% endif %}
{% if 'set' in field %}
  app->register_message_handler({{ service['service'] }}, {{ service['instance'] }},{{ field['set']['methodId'] }},
      std::bind(&fields::{{ field['name'] }}::OnSetResponse, &{{ field['name'] }}, std::placeholders::_1));
{% endif %}
{% endfor %}
}

} // namespace {{ service_name }}
} // namespace com
} // namespace ara
