*.o
*.os
*.exe
*.so
*.dll
*.pyc
*.d
*.dblite
.vscode
*.log
download
*.img
Makefile*
TAGS
platform
release
*.pkl
*.pyd
SeedToKey.py
*.ini
*.bin
*.map
*.s19
*.s19.sign

libPCANBasic.a

build
GEN*

*.pcap